* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #0D354B;
    color: #fff;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

/* Main content container */
.trocar-senha {
    background-color: #1B4965;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
}

h2 {
    font-size: 24px;
    color: #fff;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

h2 img.audio-icon {
    width: 24px;
    height: 24px;
    cursor: pointer;
    margin-left: 10px;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

.toggle-password {
    cursor: pointer;
}

.forgot-password {
    display: block;
    text-align: right;
    margin-bottom: 20px;
    color: #ffffff;
    font-size: 14px;
    text-decoration: none;
}

.save-button {
    width: 100%;
    padding: 15px;
    background-color: #6200EE;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.save-button:hover {
    background-color: #3700B3;
}

/* Back button styling */
.back-button {
    background-color: #017BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 16px;
    transition: background-color 0.3s;
}

.back-button:hover {
    background-color: #005BB5;
}
