body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #1898dd;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;  /* Alterado para min-height para melhor ajuste em telas menores */
    width: 100%;        /* Use 100% ao invés de 100vw para evitar rolagem horizontal */
    box-sizing: border-box;
    overflow-x: hidden; /* Impede a rolagem horizontal */
}

.full-screen-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;  /* Garante que o padding não cause rolagem */
}

.logo {
    max-width: 250px;
    margin-bottom: 20px;
}

.accessibility-icons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

.accessibility-icons img {
    width: 50px;
    height: 50px;
    border: 1px solid #ffffff;
    border-radius: 5px;
}

.welcome-text {
    font-size: 18px; /* Aumentado para dar mais destaque */
    line-height: 1.8;
    margin: 20px 0;
    color: #ffffff;
    max-width: 800px; /* Para evitar que o texto se espalhe muito em telas largas */
    text-align: center; /* Ajuste opcional para centralizar o texto */
}

.audio-icon {
    font-size: 24px;
    margin: 10px 0;
    cursor: pointer;
}

.next-button {
    padding: 12px 20px;
    border: none;
    background-color: #ffffff;
    color: #073bb5;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.next-button:hover {
    background-color: #0056b3;
    color: #ffffff;
}
