/* Geral */
body {
    font-family: 'Arial', sans-serif;
    background-color: #0D354B;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Container */
.container {
    text-align: center;
    background-color: #1B4965;
    padding: 40px;
    border-radius: 10px;
    width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

p {
    font-size: 16px;
    margin-bottom: 20px;
}

.contact-link {
    background-color: #6200EE;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
}

.contact-link:hover {
    background-color: #3700B3;
}

/* Botão Voltar */
.back-button {
    background-color: #017BFF;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    top: 20px;
    left: 20px;
}

.back-button:hover {
    background-color: #005BB5;
}
