/* Estilos Gerais */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #0D354B;
    color: #ffffff;
}

h1 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    color: #FFFFFF;
}

h2 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #0D354B;
}

p {
    font-size: 16px;
    line-height: 1.6;
}

ul {
    list-style-type: disc;
    padding-left: 20px;
}

li {
    font-size: 16px;
    margin-bottom: 10px;
}

/* Botão de Voltar */
.back-button {
    background-color: #0D354B;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    margin: 20px;
}

.back-button:hover {
    background-color: #008f7a;
}

/* Main Content */
.main-content {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.info-section {
    background-color: #112f41;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.info-box {
    background-color: #2983B5;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    color: #ffffff;
}

.info-box h2 {
    color: #0D354B;
    font-size: 20px;
}

.info-box p, .info-box ul {
    margin-left: 10px;
}

/* Ajustando as fontes */
p, ul, li {
    color: #FFFFFF;
}

