/* Geral */
body {
    font-family: 'Arial', sans-serif;
    background-color: #0D354B;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background-color: #1B4965;
    padding: 40px;
    border-radius: 10px;
    text-align: center;
    width: 350px;
}

.logo {
    width: 200px;
    margin-bottom: 20px;
}

h2 {
    color: white;
    margin-bottom: 20px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
}

.login-links {
    margin-bottom: 15px;
}

.forgot-password,
.create-account {
    color: white;
    font-size: 12px;
    text-decoration: none;
}

.divider {
    color: white;
    padding: 0 5px;
}

.login-button,
.company-button {
    width: 100%;
    padding: 10px;
    background-color: #6200EE;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.login-button:hover,
.company-button:hover {
    background-color: #3700B3;
}

.back-button {
    color: white;
    text-decoration: none;
    margin-bottom: 20px;
    display: block;
}
